@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fuente:'Kumbh Sans', sans-serif;
    /* Colors */
    /* Primary */
    --DarkCyan: hsl(185, 75%, 39%);
    --VeryDarkDesaturatedBlue: hsl(229, 23%, 23%);
    --DarkGrayishBlue: hsl(227, 10%, 46%);
    /* Neutral */
    --DarkGray: hsl(0, 0%, 59%);
}

body{
    font-family: var(--fuente);
    font-size: 18px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--DarkCyan);
    position: relative;
    overflow: hidden;
}

.card{
    width: 350px;
    background-color: #fff;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 20px hsl(0, 0%, 59%,.5);
}
.card__img_perfil{
    position: absolute;
    top: 90px;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
    border: 5px solid #fff;
   
}
.card__img_fondo{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0 ;
}


.card__dos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 70px 0px 25px 0px ;
}
.card__nombre{
    color: var(--VeryDarkDesaturatedBlue);
    margin-bottom: 10px;
    font-weight: 700;
}
.card__edad{
    color: var(--DarkGrayishBlue);
    font-weight: 400;
    margin-left: 8px;
}
.card__ciudad{
    color: var(--DarkGrayishBlue);
    margin-bottom: 30px;
    font-weight: 400;
}
.card__cont{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 30px 20px 0 20px;
    border-top: 1.5px solid hsl(227, 10%, 46%,.3);
}
.card__cont_numero{
    color: var(--VeryDarkDesaturatedBlue);
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
}
.card__cont_texto{
    color: var(--DarkGrayishBlue);
    font-size: .6em;
    text-align: center;
}

.fondo__top{
    position: absolute;
    top: -500px;
    left: -300px;
    width: 70%;
    
}
.fondo__botton{
    position: absolute;
    bottom: -500px;
    right: -300px;
    width: 70%;
}